In [121]:
import os
from bs4 import BeautifulSoup
import json

In [122]:
class Scraper:
    def __init__(self,temp_path:str,config_path:str):
        self.temp_path = temp_path
        if not os.path.exists(self.temp_path):
            raise ValueError(f'Temp Path does not exist. I was given {self.temp_path}')
        self.config_path = config.path
        if not os.path.exists(self.config_path):
            raise ValueError(f'ConfigPath does not exist')
    def _load_config_params():
        with

In [266]:
soup_page:list[BeautifulSoup] = [] 
for i in os.listdir('../temp/cheap_cars/'):
    full_path = os.path.join('../temp/cheap_cars',i)
    print(i)
    with open(full_path,'r') as file:
        content = file.read()
    soup_page.append(BeautifulSoup(content))

15.html
1.html
2.html
3.html
5.html
13.html
9.html
11.html
8.html
10.html
6.html
14.html
12.html
4.html
7.html

In [267]:
css_selectors = {
    'ad':'a.dIkIJy',
    'title':'h3.hDGITe',
    'additional_info':'span.daYHkI',
    'car_info': 'div.WbYSG',
    'type_of_seller':'span.kWavwo:nth-of-type(1)',
    'location':'span.kWavwo[aria-label]',
    'price':'span.czQcuf',
}

In [268]:
soup_page[0].select_one('a.dIkIJy').get('href')

'https://www.willhaben.at/iad/gebrauchtwagen/d/auto/vw-bora-1-9-684860861/'

In [269]:
res = []
for page in soup_page:
    all_ads = page.select(css_selectors['ad'])
    print(len(all_ads))
    for car in all_ads:
        car_data = {}
        car_data['link'] = car.get('href')
        for name,selector in css_selectors.items():
            if name == 'ad':
                continue
            else:
                try:
                    car_data[name] = car.select_one(selector).text
                except:
                    car_data[name] = 'N/A'
        res.append(car_data)

90
7
90
89
90
90
90
90
90
90
90
90
90
90
90

In [270]:
import pandas as pd

In [271]:
df = pd.DataFrame(res)

In [272]:
df

,link,title,additional_info,car_info,type_of_seller,location,price
0,https://www.willhaben.at/iad/gebrauchtwagen/d/...,VW Bora 1.9,"Diesel, Schaltgetriebe, gültiges Pickerl",2001 EZ245.000 km116 PS (85 kW),Privat,4910 Altenried,€ 1.100
1,https://www.willhaben.at/iad/gebrauchtwagen/d/...,BMW 3er-Reihe 320d,"Diesel, Schaltgetriebe",1999 EZ269.700 km136 PS (100 kW),Privat,4154 Kollerschlag,€ 1.000
2,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Nissan Primera,"Diesel, Schaltgetriebe",2010 EZ200.000 km136 PS (100 kW),Privat,8345 Nägelsdorf,€ 300
3,https://www.willhaben.at/iad/gebrauchtwagen/d/...,"VW Golf 1,9 tdi 4motion","Diesel, Schaltgetriebe",2000 EZ271.000 km90 PS (66 kW),Privat,5442 Rußbach am Paß Gschütt,€ 1.100
4,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Seat Ibiza,"Diesel, Schaltgetriebe",2002 EZ230.000 km61 PS (45 kW),Privat,4923 Kobernaußen,€ 400
...,...,...,...,...,...,...,...
1261,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Fiat Stilo 1.9,"Diesel, Schaltgetriebe, gültiges Pickerl",2004 EZ327.821 km116 PS (85 kW),Privat,4600 Wels,€ 1.100
1262,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Opel Meriva,"Diesel, Schaltgetriebe",2006 EZ180.000 km75 PS (55 kW),Privat,8044 Andritz,€ 1.000
1263,https://www.willhaben.at/iad/gebrauchtwagen/d/...,VW Polo 1.9 TDI 74 kW,"Diesel, Schaltgetriebe",2007 EZ26.000 km101 PS (74 kW),Privat,2435 Ebergassing,€ 300
1264,https://www.willhaben.at/iad/gebrauchtwagen/d/...,VW T4 Lang 2.4d,"Diesel, Schaltgetriebe, Gewährleistung",1995 EZ555.555 km77 PS (57 kW),A&A Autovermittlung OG,4600 Wels,€ 1.499
1265,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Peugeot 206,"Diesel, Schaltgetriebe, gültiges Pickerl",2001 EZ133.045 km90 PS (66 kW),Privat,8020 Graz,€ 1.300

In [273]:
def get_make(title):
    make =  ' '.join([i.replace('\n','') for i in title.split(' ')[0:2]])
    if '(reserviert)' in make:
        make = ' '.join([i.replace('\n','') for i in title.split(' ')[1:3]])
    if 'Alfa Romeo' in make:
        make =  ' '.join([i.replace('\n','') for i in title.split(' ')[0:3]])
    return make

In [274]:
makes = ['volkswagen','audi','bmw','citroen','skoda','mercedes','ford','']

In [275]:
df['model'] = df.title.apply(get_make)

df

In [276]:
fuel_types = ['Diesel','Benzin','Elektro','Hybrid Elektro/Benzin','Hybrid Elektro/Diesel']
transmission_types = ['Automatik','Schaltgetriebe']
waranty_type = ['Gewährleistung','Garantie']
registered = ['gültiges Pickerl',]

In [277]:
def process_aditional_info(additional_info):
    info = additional_info.split(',')
    d = {}
    for i in info:
        if i.strip() in fuel_types:
            d['Fuel']=i
        if i.strip() in transmission_types:
            d['Transmission'] = i
        if i.strip() in waranty_type:
            d['Warranty'] = True
        if i.strip() in registered:
            d['Registered'] = True
    return d

In [278]:
df['additional_info_dict'] = df.additional_info.apply(process_aditional_info)
df.additional_info_dict

0       {'Fuel': 'Diesel', 'Transmission': ' Schaltget...
1       {'Fuel': 'Diesel', 'Transmission': ' Schaltget...
2       {'Fuel': 'Diesel', 'Transmission': ' Schaltget...
3       {'Fuel': 'Diesel', 'Transmission': ' Schaltget...
4       {'Fuel': 'Diesel', 'Transmission': ' Schaltget...
                              ...
1261    {'Fuel': 'Diesel', 'Transmission': ' Schaltget...
1262    {'Fuel': 'Diesel', 'Transmission': ' Schaltget...
1263    {'Fuel': 'Diesel', 'Transmission': ' Schaltget...
1264    {'Fuel': 'Diesel', 'Transmission': ' Schaltget...
1265    {'Fuel': 'Diesel', 'Transmission': ' Schaltget...
Name: additional_info_dict, Length: 1266, dtype: object

In [279]:
df['Fuel'] = df.additional_info_dict.apply(lambda x: x['Fuel'] if 'Fuel' in x.keys() else 'N/A')

In [280]:
df['Transmission'] = df.additional_info_dict.apply(lambda x: x['Transmission'] if 'Transmission' in x.keys() else 'N/A')

In [281]:
df['Warranty'] = df.additional_info_dict.apply(lambda x: True if 'Warranty' in x.keys() else False)

In [282]:
df['Registered'] = df.additional_info_dict.apply(lambda x: True if 'Registered' in x.keys() else False)

In [286]:
df.Registered.value_counts()

False    870
True     396
Name: Registered, dtype: int64

In [289]:
df.car_info.value_counts()

2005 EZ150.000 km90 PS (66 kW)     2
2002 EZ270.000 km101 PS (74 kW)    2
1998 EZ320.000 km109 PS (80 kW)    2
2004 EZ170.000 km120 PS (88 kW)    2
2002 EZ226.844 km90 PS (66 kW)     2
                                  ..
2003 EZ260.000 km80 PS (59 kW)     1
2003 EZ150.000 km73 PS (54 kW)     1
1996 EZ280.000 km102 PS (75 kW)    1
2005 EZ161.200 km73 PS (54 kW)     1
2001 EZ133.045 km90 PS (66 kW)     1
Name: car_info, Length: 1252, dtype: int64

In [293]:
df.car_info.str.split(' ')

0        [2001, EZ245.000, km116, PS, (85, kW)]
1       [1999, EZ269.700, km136, PS, (100, kW)]
2       [2010, EZ200.000, km136, PS, (100, kW)]
3         [2000, EZ271.000, km90, PS, (66, kW)]
4         [2002, EZ230.000, km61, PS, (45, kW)]
                         ...
1261     [2004, EZ327.821, km116, PS, (85, kW)]
1262      [2006, EZ180.000, km75, PS, (55, kW)]
1263      [2007, EZ26.000, km101, PS, (74, kW)]
1264      [1995, EZ555.555, km77, PS, (57, kW)]
1265      [2001, EZ133.045, km90, PS, (66, kW)]
Name: car_info, Length: 1266, dtype: object

In [352]:
def process_car_info(car_info):
    car_info_add = car_info.split(' ')
    d = {}
    try:
        d['year']= int(car_info_add[0])
    except:
        d['year']  = 'N/A'
    if str(car_info_add[1]).startswith('EZ'):
        mileage = str(car_info_add[1]).replace('EZ','').replace('.','')
        mileage = int(mileage)
        d['mileage'] = mileage
    else:
        d['mileage'] = 'N/A'
    
    try:
        if 'km' in car_info_add[2]:
            hp = car_info_add[2].replace('km','')
            d['hp'] = int(hp)
        else:
            d['hp'] = 'N/A'
    except:
        d['hp'] = 'N/A'
    
    
    return d

In [353]:
df['car_info_dict'] = df.car_info.apply(process_car_info)

/tmp/ipykernel_317983/3521412731.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['car_info_dict'] = df.car_info.apply(process_car_info)

In [354]:
df[['car_info_dict','car_info']]

,car_info_dict,car_info
0,"{'year': 2001, 'mileage': 245000, 'hp': 116}",2001 EZ245.000 km116 PS (85 kW)
1,"{'year': 1999, 'mileage': 269700, 'hp': 136}",1999 EZ269.700 km136 PS (100 kW)
2,"{'year': 2010, 'mileage': 200000, 'hp': 136}",2010 EZ200.000 km136 PS (100 kW)
3,"{'year': 2000, 'mileage': 271000, 'hp': 90}",2000 EZ271.000 km90 PS (66 kW)
4,"{'year': 2002, 'mileage': 230000, 'hp': 61}",2002 EZ230.000 km61 PS (45 kW)
...,...,...
1261,"{'year': 2004, 'mileage': 327821, 'hp': 116}",2004 EZ327.821 km116 PS (85 kW)
1262,"{'year': 2006, 'mileage': 180000, 'hp': 75}",2006 EZ180.000 km75 PS (55 kW)
1263,"{'year': 2007, 'mileage': 26000, 'hp': 101}",2007 EZ26.000 km101 PS (74 kW)
1264,"{'year': 1995, 'mileage': 555555, 'hp': 77}",1995 EZ555.555 km77 PS (57 kW)
1265,"{'year': 2001, 'mileage': 133045, 'hp': 90}",2001 EZ133.045 km90 PS (66 kW)

In [355]:
df['Year'] = df.car_info_dict.apply(lambda x: x['year'] if 'year' in x.keys() else 'N/A')
df['Mileage'] = df.car_info_dict.apply(lambda x: x['mileage'] if 'mileage' in x.keys() else 'N/A')
df['HorsePower'] = df.car_info_dict.apply(lambda x: x['hp'] if 'hp' in x.keys() else 'N/A')

/tmp/ipykernel_317983/3443771341.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df.car_info_dict.apply(lambda x: x['year'] if 'year' in x.keys() else 'N/A')
/tmp/ipykernel_317983/3443771341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Mileage'] = df.car_info_dict.apply(lambda x: x['mileage'] if 'mileage' in x.keys() else 'N/A')
/tmp/ipykernel_317983/3443771341.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HorsePower'] = df.car_info_dict.apply(lambda x: x['hp'] if 'hp' in x.keys() else 'N/A')

In [356]:
df = df[df.Mileage!='N/A']

In [357]:
df

,link,title,additional_info,car_info,type_of_seller,location,price,model,additional_info_dict,Fuel,Transmission,Warranty,Registered,car_info_dict,Year,Mileage,HorsePower
0,https://www.willhaben.at/iad/gebrauchtwagen/d/...,VW Bora 1.9,"Diesel, Schaltgetriebe, gültiges Pickerl",2001 EZ245.000 km116 PS (85 kW),Privat,4910 Altenried,€ 1.100,VW Bora,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,True,"{'year': 2001, 'mileage': 245000, 'hp': 116}",2001,245000,116
1,https://www.willhaben.at/iad/gebrauchtwagen/d/...,BMW 3er-Reihe 320d,"Diesel, Schaltgetriebe",1999 EZ269.700 km136 PS (100 kW),Privat,4154 Kollerschlag,€ 1.000,BMW 3er-Reihe,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,False,"{'year': 1999, 'mileage': 269700, 'hp': 136}",1999,269700,136
2,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Nissan Primera,"Diesel, Schaltgetriebe",2010 EZ200.000 km136 PS (100 kW),Privat,8345 Nägelsdorf,€ 300,Nissan Primera,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,False,"{'year': 2010, 'mileage': 200000, 'hp': 136}",2010,200000,136
3,https://www.willhaben.at/iad/gebrauchtwagen/d/...,"VW Golf 1,9 tdi 4motion","Diesel, Schaltgetriebe",2000 EZ271.000 km90 PS (66 kW),Privat,5442 Rußbach am Paß Gschütt,€ 1.100,VW Golf,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,False,"{'year': 2000, 'mileage': 271000, 'hp': 90}",2000,271000,90
4,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Seat Ibiza,"Diesel, Schaltgetriebe",2002 EZ230.000 km61 PS (45 kW),Privat,4923 Kobernaußen,€ 400,Seat Ibiza,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,False,"{'year': 2002, 'mileage': 230000, 'hp': 61}",2002,230000,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Fiat Stilo 1.9,"Diesel, Schaltgetriebe, gültiges Pickerl",2004 EZ327.821 km116 PS (85 kW),Privat,4600 Wels,€ 1.100,Fiat Stilo,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,True,"{'year': 2004, 'mileage': 327821, 'hp': 116}",2004,327821,116
1262,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Opel Meriva,"Diesel, Schaltgetriebe",2006 EZ180.000 km75 PS (55 kW),Privat,8044 Andritz,€ 1.000,Opel Meriva,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,False,"{'year': 2006, 'mileage': 180000, 'hp': 75}",2006,180000,75
1263,https://www.willhaben.at/iad/gebrauchtwagen/d/...,VW Polo 1.9 TDI 74 kW,"Diesel, Schaltgetriebe",2007 EZ26.000 km101 PS (74 kW),Privat,2435 Ebergassing,€ 300,VW Polo,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,False,"{'year': 2007, 'mileage': 26000, 'hp': 101}",2007,26000,101
1264,https://www.willhaben.at/iad/gebrauchtwagen/d/...,VW T4 Lang 2.4d,"Diesel, Schaltgetriebe, Gewährleistung",1995 EZ555.555 km77 PS (57 kW),A&A Autovermittlung OG,4600 Wels,€ 1.499,VW T4,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,True,False,"{'year': 1995, 'mileage': 555555, 'hp': 77}",1995,555555,77
1265,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Peugeot 206,"Diesel, Schaltgetriebe, gültiges Pickerl",2001 EZ133.045 km90 PS (66 kW),Privat,8020 Graz,€ 1.300,Peugeot 206,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,True,"{'year': 2001, 'mileage': 133045, 'hp': 90}",2001,133045,90

In [363]:
def get_zip_and_location(location):
    location_info = location.split(' ')
    d = {}
    d['ZipCode'] = int(location_info[0])
    d['County'] = ' '.join(location_info[1:])
    return d

In [365]:
df['location_dict'] = df.location.apply(get_zip_and_location)

In [366]:
df['ZipCode'] = df.location_dict.apply(lambda x: x['ZipCode'] if 'ZipCode' in x.keys() else 'N/A')
df['County'] = df.location_dict.apply(lambda x: x['County'] if 'County' in x.keys() else 'N/A')

In [367]:
df

,link,title,additional_info,car_info,type_of_seller,location,price,model,additional_info_dict,Fuel,Transmission,Warranty,Registered,car_info_dict,Year,Mileage,HorsePower,location_dict,ZipCode,County
0,https://www.willhaben.at/iad/gebrauchtwagen/d/...,VW Bora 1.9,"Diesel, Schaltgetriebe, gültiges Pickerl",2001 EZ245.000 km116 PS (85 kW),Privat,4910 Altenried,€ 1.100,VW Bora,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,True,"{'year': 2001, 'mileage': 245000, 'hp': 116}",2001,245000,116,"{'ZipCode': 4910, 'County': 'Altenried'}",4910,Altenried
1,https://www.willhaben.at/iad/gebrauchtwagen/d/...,BMW 3er-Reihe 320d,"Diesel, Schaltgetriebe",1999 EZ269.700 km136 PS (100 kW),Privat,4154 Kollerschlag,€ 1.000,BMW 3er-Reihe,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,False,"{'year': 1999, 'mileage': 269700, 'hp': 136}",1999,269700,136,"{'ZipCode': 4154, 'County': 'Kollerschlag'}",4154,Kollerschlag
2,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Nissan Primera,"Diesel, Schaltgetriebe",2010 EZ200.000 km136 PS (100 kW),Privat,8345 Nägelsdorf,€ 300,Nissan Primera,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,False,"{'year': 2010, 'mileage': 200000, 'hp': 136}",2010,200000,136,"{'ZipCode': 8345, 'County': 'Nägelsdorf'}",8345,Nägelsdorf
3,https://www.willhaben.at/iad/gebrauchtwagen/d/...,"VW Golf 1,9 tdi 4motion","Diesel, Schaltgetriebe",2000 EZ271.000 km90 PS (66 kW),Privat,5442 Rußbach am Paß Gschütt,€ 1.100,VW Golf,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,False,"{'year': 2000, 'mileage': 271000, 'hp': 90}",2000,271000,90,"{'ZipCode': 5442, 'County': 'Rußbach am Paß Gs...",5442,Rußbach am Paß Gschütt
4,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Seat Ibiza,"Diesel, Schaltgetriebe",2002 EZ230.000 km61 PS (45 kW),Privat,4923 Kobernaußen,€ 400,Seat Ibiza,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,False,"{'year': 2002, 'mileage': 230000, 'hp': 61}",2002,230000,61,"{'ZipCode': 4923, 'County': 'Kobernaußen'}",4923,Kobernaußen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Fiat Stilo 1.9,"Diesel, Schaltgetriebe, gültiges Pickerl",2004 EZ327.821 km116 PS (85 kW),Privat,4600 Wels,€ 1.100,Fiat Stilo,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,True,"{'year': 2004, 'mileage': 327821, 'hp': 116}",2004,327821,116,"{'ZipCode': 4600, 'County': 'Wels'}",4600,Wels
1262,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Opel Meriva,"Diesel, Schaltgetriebe",2006 EZ180.000 km75 PS (55 kW),Privat,8044 Andritz,€ 1.000,Opel Meriva,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,False,"{'year': 2006, 'mileage': 180000, 'hp': 75}",2006,180000,75,"{'ZipCode': 8044, 'County': 'Andritz'}",8044,Andritz
1263,https://www.willhaben.at/iad/gebrauchtwagen/d/...,VW Polo 1.9 TDI 74 kW,"Diesel, Schaltgetriebe",2007 EZ26.000 km101 PS (74 kW),Privat,2435 Ebergassing,€ 300,VW Polo,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,False,"{'year': 2007, 'mileage': 26000, 'hp': 101}",2007,26000,101,"{'ZipCode': 2435, 'County': 'Ebergassing'}",2435,Ebergassing
1264,https://www.willhaben.at/iad/gebrauchtwagen/d/...,VW T4 Lang 2.4d,"Diesel, Schaltgetriebe, Gewährleistung",1995 EZ555.555 km77 PS (57 kW),A&A Autovermittlung OG,4600 Wels,€ 1.499,VW T4,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,True,False,"{'year': 1995, 'mileage': 555555, 'hp': 77}",1995,555555,77,"{'ZipCode': 4600, 'County': 'Wels'}",4600,Wels
1265,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Peugeot 206,"Diesel, Schaltgetriebe, gültiges Pickerl",2001 EZ133.045 km90 PS (66 kW),Privat,8020 Graz,€ 1.300,Peugeot 206,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,Schaltgetriebe,False,True,"{'year': 2001, 'mileage': 133045, 'hp': 90}",2001,133045,90,"{'ZipCode': 8020, 'County': 'Graz'}",8020,Graz

In [372]:
def get_price(price):
    try:
        return int(price.replace('€','').strip().replace('.',''))
    except:
        return 'N/A'

In [375]:
df['Price'] = df.price.apply(get_price)

In [377]:
df[['price','Price']]

        price Price
0     € 1.100  1100
1     € 1.000  1000
2       € 300   300
3     € 1.100  1100
4       € 400   400
...       ...   ...
1261  € 1.100  1100
1262  € 1.000  1000
1263    € 300   300
1264  € 1.499  1499
1265  € 1.300  1300

[1265 rows x 2 columns]

In [384]:
df = df[df.price != 'N/A']

In [389]:
df.title.str.split(' ')

0                     [VW, Bora, 1.9]
1              [BMW, 3er-Reihe, 320d]
2                   [Nissan, Primera]
3       [VW, Golf, 1,9, tdi, 4motion]
4                       [Seat, Ibiza]
                    ...
1261               [Fiat, Stilo, 1.9]
1262                   [Opel, Meriva]
1263     [VW, Polo, 1.9, TDI, 74, kW]
1264             [VW, T4, Lang, 2.4d]
1265                   [Peugeot, 206]
Name: title, Length: 1210, dtype: object

In [392]:
import re

In [417]:
df.title.apply(lambda x: set(re.findall('[0-9]\.[0-9]\s',x))).value_counts()

{}        1062
{1.9 }      61
{2.0 }      19
{1.4 }      13
{1.6 }      11
{1.8 }      10
{1.2 }      10
{2.5 }       4
{1.5 }       4
{1.7 }       3
{1.3 }       3
{2.3 }       3
{2.2 }       2
{2.6 }       1
{2.8 }       1
{2.4 }       1
{1.1 }       1
{1.0 }       1
Name: title, dtype: int64

In [418]:
df.title.apply(lambda x: set(re.findall('[0-9]\,[0-9]\s',x))).value_counts()

{}        957
{1,9 }     85
{1,6 }     25
{2,0 }     21
{1,4 }     21
{1,3 }     19
{1,2 }     18
{2,2 }     12
{1,5 }     10
{2,5 }      9
{1,1 }      8
{1,8 }      7
{1,0 }      6
{1,7 }      6
{2,4 }      2
{2,6 }      2
{2,8 }      1
{0,8 }      1
Name: title, dtype: int64

In [416]:
df[df.title.apply(lambda x: len(re.findall('[0-9]\,[0-9]\s',x))>=2)]

,link,title,additional_info,car_info,type_of_seller,location,price,model,additional_info_dict,Fuel,...,Warranty,Registered,car_info_dict,Year,Mileage,HorsePower,location_dict,ZipCode,County,Price
892,https://www.willhaben.at/iad/gebrauchtwagen/d/...,"Volvo V70 V 70 2,5 D A/LW 72066 - 850/5 V702,5...","Diesel, Automatik",1999 EZ468.879 km140 PS (103 kW),Privat,8282 Loipersdorf bei Fürstenfeld,€ 500,Volvo V70,"{'Fuel': 'Diesel', 'Transmission': ' Automatik'}",Diesel,...,False,False,"{'year': 1999, 'mileage': 468879, 'hp': 140}",1999,468879,140,"{'ZipCode': 8282, 'County': 'Loipersdorf bei F...",8282,Loipersdorf bei Fürstenfeld,500

In [430]:
df.title.apply(lambda x: set(re.findall('[0-9]\,[0-9]\s',x))=={0,8 })

0

In [434]:
df.Price = df.Price.astype('int')

/tmp/ipykernel_317983/1427544548.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Price = df.Price.astype('int')

In [436]:
df.groupby('model').mean()['Price'].reset_index().sort_values('Price')

/tmp/ipykernel_317983/1408233866.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('model').mean()['Price'].reset_index().sort_values('Price')

                 model   Price
167      Subaru Legacy   190.0
15            Bird ONE   240.0
41       Fahrzeuge zum   300.0
38    Daihatsu Charade   350.0
136    Peugeot Partner   390.0
..                 ...     ...
80         Lada Samara  1500.0
11       BMW 1er-Reihe  1500.0
78         KIA Picanto  1500.0
105  Mitsubishi Pajero  1500.0
154          Saab 9000  1500.0

[208 rows x 2 columns]

In [463]:
df[df.Registered & df.model.str.contains('VW') & df.Fuel.str.contains('Diesel')].sort_values('Price').iloc[14].link

'https://www.willhaben.at/iad/gebrauchtwagen/d/auto/vw-golf-tdi-686445726/'

In [465]:
df[df.Registered & df.model.str.contains('VW') & df.Fuel.str.contains('Diesel')].sort_values('Price').iloc[15].link

'https://www.willhaben.at/iad/gebrauchtwagen/d/auto/vw-golf-tdi-686270526/'

In [468]:
df.columns

Index(['link', 'title', 'additional_info', 'car_info', 'type_of_seller',
       'location', 'price', 'model', 'additional_info_dict', 'Fuel',
       'Transmission', 'Warranty', 'Registered', 'car_info_dict', 'Year',
       'Mileage', 'HorsePower', 'location_dict', 'ZipCode', 'County', 'Price'],
      dtype='object')

In [467]:
df[['link','title','type_of_seller','model','Fuel','Transmission','Warranty']]

,link,title,additional_info,car_info,type_of_seller,location,price,model,additional_info_dict,Fuel,...,Warranty,Registered,car_info_dict,Year,Mileage,HorsePower,location_dict,ZipCode,County,Price
0,https://www.willhaben.at/iad/gebrauchtwagen/d/...,VW Bora 1.9,"Diesel, Schaltgetriebe, gültiges Pickerl",2001 EZ245.000 km116 PS (85 kW),Privat,4910 Altenried,€ 1.100,VW Bora,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,...,False,True,"{'year': 2001, 'mileage': 245000, 'hp': 116}",2001,245000,116,"{'ZipCode': 4910, 'County': 'Altenried'}",4910,Altenried,1100
1,https://www.willhaben.at/iad/gebrauchtwagen/d/...,BMW 3er-Reihe 320d,"Diesel, Schaltgetriebe",1999 EZ269.700 km136 PS (100 kW),Privat,4154 Kollerschlag,€ 1.000,BMW 3er-Reihe,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,...,False,False,"{'year': 1999, 'mileage': 269700, 'hp': 136}",1999,269700,136,"{'ZipCode': 4154, 'County': 'Kollerschlag'}",4154,Kollerschlag,1000
2,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Nissan Primera,"Diesel, Schaltgetriebe",2010 EZ200.000 km136 PS (100 kW),Privat,8345 Nägelsdorf,€ 300,Nissan Primera,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,...,False,False,"{'year': 2010, 'mileage': 200000, 'hp': 136}",2010,200000,136,"{'ZipCode': 8345, 'County': 'Nägelsdorf'}",8345,Nägelsdorf,300
3,https://www.willhaben.at/iad/gebrauchtwagen/d/...,"VW Golf 1,9 tdi 4motion","Diesel, Schaltgetriebe",2000 EZ271.000 km90 PS (66 kW),Privat,5442 Rußbach am Paß Gschütt,€ 1.100,VW Golf,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,...,False,False,"{'year': 2000, 'mileage': 271000, 'hp': 90}",2000,271000,90,"{'ZipCode': 5442, 'County': 'Rußbach am Paß Gs...",5442,Rußbach am Paß Gschütt,1100
4,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Seat Ibiza,"Diesel, Schaltgetriebe",2002 EZ230.000 km61 PS (45 kW),Privat,4923 Kobernaußen,€ 400,Seat Ibiza,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,...,False,False,"{'year': 2002, 'mileage': 230000, 'hp': 61}",2002,230000,61,"{'ZipCode': 4923, 'County': 'Kobernaußen'}",4923,Kobernaußen,400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Fiat Stilo 1.9,"Diesel, Schaltgetriebe, gültiges Pickerl",2004 EZ327.821 km116 PS (85 kW),Privat,4600 Wels,€ 1.100,Fiat Stilo,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,...,False,True,"{'year': 2004, 'mileage': 327821, 'hp': 116}",2004,327821,116,"{'ZipCode': 4600, 'County': 'Wels'}",4600,Wels,1100
1262,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Opel Meriva,"Diesel, Schaltgetriebe",2006 EZ180.000 km75 PS (55 kW),Privat,8044 Andritz,€ 1.000,Opel Meriva,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,...,False,False,"{'year': 2006, 'mileage': 180000, 'hp': 75}",2006,180000,75,"{'ZipCode': 8044, 'County': 'Andritz'}",8044,Andritz,1000
1263,https://www.willhaben.at/iad/gebrauchtwagen/d/...,VW Polo 1.9 TDI 74 kW,"Diesel, Schaltgetriebe",2007 EZ26.000 km101 PS (74 kW),Privat,2435 Ebergassing,€ 300,VW Polo,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,...,False,False,"{'year': 2007, 'mileage': 26000, 'hp': 101}",2007,26000,101,"{'ZipCode': 2435, 'County': 'Ebergassing'}",2435,Ebergassing,300
1264,https://www.willhaben.at/iad/gebrauchtwagen/d/...,VW T4 Lang 2.4d,"Diesel, Schaltgetriebe, Gewährleistung",1995 EZ555.555 km77 PS (57 kW),A&A Autovermittlung OG,4600 Wels,€ 1.499,VW T4,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,...,True,False,"{'year': 1995, 'mileage': 555555, 'hp': 77}",1995,555555,77,"{'ZipCode': 4600, 'County': 'Wels'}",4600,Wels,1499
1265,https://www.willhaben.at/iad/gebrauchtwagen/d/...,Peugeot 206,"Diesel, Schaltgetriebe, gültiges Pickerl",2001 EZ133.045 km90 PS (66 kW),Privat,8020 Graz,€ 1.300,Peugeot 206,"{'Fuel': 'Diesel', 'Transmission': ' Schaltget...",Diesel,...,False,True,"{'year': 2001, 'mileage': 133045, 'hp': 90}",2001,133045,90,"{'ZipCode': 8020, 'County': 'Graz'}",8020,Graz,1300